.header {
    background-color: rgb(231, 201, 201);
    overflow: hidden;
}

.header img {
    width: 60px;
    height: 40px;
    float: left;
}

a.button1 {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

a.button2 {
    float: right;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;

}

.buttonDropDown {
    background-color: rgb(231, 201, 201);
    padding: 14px;
    font-size: 20px;
    border: none;
    font-family: Arial Narrow, sans-serif;
    cursor: pointer;
}

.buttonDrop {
    background-color: rgb(231, 201, 201);
    padding: 14px;
    font-size: 20px;
    border: none;
    font-family: Arial Narrow, sans-serif;
    cursor: pointer;
}

.dropdown {
    display: inline-block;
}

.dropd {
    display: block;
    float: right;
}

.dropDownMenu {
    display: none;
    position: absolute;
    background-color: white;
    z-index: 1;
    font-size: 20px;
    font-family: Arial Narrow, sans-serif;
}

.dropDownMenu a {
    color: black;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropDownMenu {
    display: block;
}

.dropdown:hover .buttonDropDown {
    background-color: white
}

.dropd:hover .buttonDrop {
    background-color: white
}

.buttonMenu {
    display: none;
    position: absolute;
    background-color: white;
    font-size: 20px;
    font-family: Arial Narrow, sans-serif;
}

.buttonMenu a {
    color: black;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
}

.dropd:hover .buttonMenu {
    display: block;
}

.header a:hover {
    background-color: #ddd;
    color: black;
}

.header a.active {
    background-color: #a76e18;
    color: white;
}

body {
    margin: 0%;
    font-family: Arial Narrow, sans-serif;
    background-image: url('big.jpg');
    margin-bottom: 150px;
}

.info{

    display: block;
    position: relative;
    left: 15%;
    top: 50pt;
    width: 500px;

}

.info h1 {
    position: relative;
    text-align: center;
    font-size: 30pt;
}

.info p {
    font-size: 18pt;
}

.infoP img {
    display: block;
    position: relative;
    left: 500pt;
    top: -160pt;
}

a.button3 {
    position: absolute;
    left: 40%;
    font-weight: 400;
    font-size: 15pt;
    color: black;
    text-decoration: none;
    padding: 6px;
    border-radius: 3px;
    border-color: black;
    border-width: 2px;
    background: rgb(226, 208, 208);
    box-shadow: 3px 3px 0px rgb(0, 0, 0);
    transition: 0.2s;
} 

a.button3:hover { 
    background: rgb(204, 192, 190); 
}

a.button3:active {
    background: rgb(204, 192, 190);
    box-shadow: 0 3px rgb(167, 149, 145) inset;
}

#imgB {
    position: relative;
    left: 50px;
    top:50px;
}

.service {
    float: left;
    color: black;
    text-align: left;
    padding: 14px 16px;
    font-size: 20px;
    text-decoration: none
}

.service p{
    position: absolute;
    left: 540px;
    top: 200px;
    font-size: 20pt;
}


.content {
    color: black;
    text-align: left;
    justify-content: center;
    box-sizing: border-box;
    font-size: 18px;
    text-decoration: none;
    display: block;
    padding: 30px 90px 40px 90px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.3);
    width: 400px;
    height: 520px;
    position: relative;
    left: 30%;
    top: 30px;
    align-items: center;
    background-color: white;
}

.content input {
    width: 208px;
    margin-bottom: 10px;
    margin-top: 10px;
    
}

.content input:hover {
    background: rgb(204, 192, 190); 
}

.content2 input {
    width: 208px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.content2 input:hover {
    background: rgb(204, 192, 190); 
}

.content #oCancel, #oPic {
    width: 216px;
}

.content #submit {
    width: 216px;
    margin-bottom: 10px;
}

.content #submit:hover {
    background: rgb(204, 192, 190); 
}

.content4 #submit {
    width: 216px;
    margin-bottom: 10px;
}

.content4 #submit:hover {
    background: rgb(204, 192, 190); 
}

.content4 #time {
    width: 210px;
    margin-bottom: 10px;
}

.content4 #time:hover {
    background: rgb(204, 192, 190); 
}

.content #fdescription {
    width: 210px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.content #fdescription:active {
    background: rgb(204, 192, 190); 
}

.content #servicecombo {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 216px
}

.content #reportcombo {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 216px
} 

.content #submit:hover {
    background-color: rgb(231, 201, 201);
    color: black;
}

.content2 #email {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 208px 
}

.content2 #email:hover {
    background: rgb(204, 192, 190); 
}

.content4 #email {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 208px 
}

.content4 #email:hover {
    background: rgb(204, 192, 190); 
}

.content3 input {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 208px 
}

.content3 input:hover {
    background: rgb(204, 192, 190); 
}

.content4 input {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 208px 
}

.content4 #input:hover {
    background: rgb(204, 192, 190); 
}

.fprice input {
    width: 208px;
    margin-top: 10px;
}

.fprice #input:hover {
    background: rgb(204, 192, 190); 
}

.content .rCombobox {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 216px
} 

::placeholder {
    color:rgba(150, 146, 145, 0.966);
}

.content2 {
    color: black;
    text-align: left;
    justify-content: center;
    box-sizing: border-box;
    font-size: 18px;
    text-decoration: none;
    display: block;
    padding: 30px 90px 40px 90px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.3);
    width: 400px;
    height: 400px;
    position: relative;
    left: 30%;
    top: 30px;
    align-items: center;
    background-color: white;
}

.content3 {
    color: black;
    text-align: left;
    justify-content: center;
    box-sizing: border-box;
    font-size: 18px;
    text-decoration: none;
    display: block;
    padding: 30px 90px 40px 90px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.3);
    width: 400px;
    height: 675px;
    position: relative;
    left: 30%;
    top: 30px;
    align-items: center;
    background-color: white;
    margin-bottom:30px
}

.content4 {
    color: black;
    text-align: left;
    justify-content: center;
    box-sizing: border-box;
    font-size: 18px;
    text-decoration: none;
    display: block;
    padding: 30px 90px 40px 90px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.3);
    width: 400px;
    height: 675px;
    position: relative;
    left: 30%;
    top: 30px;
    align-items: center;
    background-color: white;
    margin-bottom:30px
}

.content5 {
    color: black;
    text-align: left;
    justify-content: center;
    box-sizing: border-box;
    font-size: 18px;
    text-decoration: none;
    display: block;
    padding: 30px 60px 30px 60px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.3);
    width: 400px;
    height: 470px;
    position: relative;
    left: 30%;
    top: 30px;
    align-items: center;
    background-color: white;
    font-size: 10pt;
}

.content7 {
    color: black;
    text-align: left;
    justify-content: center;
    box-sizing: border-box;
    font-size: 18px;
    text-decoration: none;
    display: block;
    padding: 30px 90px 40px 90px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.3);
    width: 400px;
    height: 420px;
    position: relative;
    left: 30%;
    top: 30px;
    align-items: center;
    background-color: white;
}

.content5 h1 {
    font-size: 11pt;
    text-align: center;
}

.content5 p {
    text-align: center;
    font-size: 8pt;
}

.content5 #cservicecombo, #cTime, #cPers, #cDur  {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 280px;
}

.content5 #cservicecombo:hover, #cTime:hover, #cPers:hover, #cDur:hover  {
    background: rgb(204, 192, 190); 
}

.content4 #fname:hover, #email:hover, #phone:hover, #time:hover,
    #fCountry:hover, #fState:hover, #fCity:hover, #fStreet:hover, #fZip:hover {
        background: rgb(204, 192, 190); 
    }

.content5 #aPrice p {
    font-size: 11pt;
    text-align: left;
}

.content5 .calculate {
    font-size: 11pt;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;

}

#loadT {
    position: absolute;
    left: 45%;
    margin-left: -50px;
    top: 45%;
    margin-top: -50px;
}

.load {
    list-style-type: none;
}

#load {
    color: rgb(231, 201, 201);
    animation: move 5s linear infinite;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -50px;
    margin-left: -50px;

}

#load img{
    width: 50px;  
    height: auto;  
}
 
 @keyframes move {
   0% {
     transform: rotate(0deg);
   }
   100% {
     transform: rotate(360deg);
   }
 }

.content h1 {
    font-size: 15pt;
    font-weight: bold;
}
.formService {
    text-align: left;
}



.about {
    float:left;
    position: relative;
    left: 50px;
    top: 100px;
    width: 700px;
    margin: auto;
}

input.error  {
    border: 2px solid red;
}

.hide {
	display: none;
}

#formErrors {
    color: red;
    font-size: 12px;
}


.buttonLogin {
    display: flex;
    text-decoration:none;
    font-size: 12pt;
    border-radius: 3px;
    border-color: black;
    border-width: 2px;
    padding: 0px;
}

.buttonReg {
    display: flex;
    text-decoration:none;
    font-size: 12pt;
    border-radius: 3px;
    border-color: black;
    border-width: 2px;
    padding: 0px;
}

.buttonRecover {
    display: flex;
    text-decoration:none;
    font-size: 12pt;
    border-radius: 3px;
    border-color: black;
    border-width: 2px;
    padding: 0px;
}

#buttonCon, #buttonRec {
    display:inline-block;
}



.orders{
    position: absolute;
    left: 2%;
    top: 52pt;
    display: block;
}

.orders a {
    text-decoration:underline;
    color:black;
}

.orders p {
    display: block;
    position: relative;
    left: 2%;
    width: 400px;
}

.pEx {
    cursor: pointer;
}

.content img{
    width: 220px;
    height: 220px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 79px;
    box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.3);
}

#orderP {
    color:black;
}

.content #orderP{
    align-items: left;
    float: left;
    text-align: left;
    justify-content: left;
}

#yourPrice {
    width: 30px;
    margin-bottom: 20px;
}

#rad p {
    font-size: 10pt;
}

#rad input {
    position: absolute;
    cursor: pointer;
    left: 24pt;
}

#rad label {
    font-size: 12pt;
    position:relative;
    top: 3pt;
}

.content4 h1 {
    font-size: 10pt;
}

#cbCountry {
    position: absolute;
    cursor: pointer;
    left: -9pt;
    top: 177pt;
}

#addresss p {
    font-size: 10pt;
    position: relative;
    left: 12pt;
}

#faq {
    margin: 30px 60px 30px 60px;
}

#faq p {
    line-height: 1.5;
}

#faq img {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 600px;
    height: 200px;
    border: black thin solid;
}

#faq .p2 {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 500px;
    height: 500px;
    border: black thin solid;
}

#calculatee:hover {
    background: rgb(204, 192, 190); 
}


.content #oRev, #oRep {
    width: 216px;
}

.content7 h1 {
    font-size: 18pt;
}

.content7 label{
    font-size: 12pt;
}

.content7 #fdescription {
    margin-top: 10px;
}

.content7 #fdescription:hover {
    background: rgb(204, 192, 190); 
}

.content7 #frate {
    width: 214px;
}

.content7 .frate {
    margin-top: 20px;
}

.content7 #submit {
    width: 221px;
    margin-top: 40px;
}


