.header {
    background-color: rgb(231, 201, 201);
    overflow: hidden;
}

.header img {
    width: 60px;
    height: 40px;
    float: left;
}

a.button1 {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

a.button2 {
    float: right;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;

}
.header a:hover {
    background-color: #ddd;
    color: black;
}

.header a.active {
    background-color: #a76e18;
    color: white;
}

body {
    margin: 0%;
    font-family: Garamond, serif;
}

.info {
    float: center;
    position: relative;
    left: 0px;
    top: 100px;
    width: 600px;
    margin: auto;
}

.info h1 {
    font-size: 30pt;
}

.info p {
    font-size: 18pt;
}

a.button3 {
    position: absolute;
    left: 0px;
    font-weight: 400;
    font-size: 15pt;
    color: black;
    text-decoration: none;
    padding: 6px;
    border-radius: 3px;
    border-color: black;
    border-width: 2px;
    background: rgb(226, 208, 208);
    box-shadow: 3px 3px 0px rgb(0, 0, 0);
    transition: 0.2s;
} 

a.button3:hover { 
    background: rgb(204, 192, 190); 
}

a.button3:active {
background: rgb(204, 192, 190);
box-shadow: 0 3px rgb(167, 149, 145) inset;
}

#imgB {
    position: relative;
    left: 50px;
    top:50px;
}

.service {
    float: left;
    color: black;
    text-align: left;
    padding: 14px 16px;
    font-size: 20px;
    text-decoration: none
}

.service p{
    position: absolute;
    left: 540px;
    top: 200px;
    font-size: 20pt;
}

a.buttonR {
    position: absolute;
    left: 400px;
    top: 300px;
    text-decoration:none;
    font-size: 18pt;
    border-radius: 3px;
    border-color: black;
    border-width: 2px;
    padding: 6px;
}

a.buttonR:hover { 
    background: rgb(204, 192, 190); 
}

a.buttonR:active {
background: rgb(204, 192, 190);
box-shadow: 0 3px rgb(167, 149, 145) inset;
}

a.buttonF {
    position: absolute;
    left: 730px;
    top: 300px;
    text-decoration: none;
    font-size: 18pt;
    border-radius: 3px;
    border-color: black;
    border-width: 2px;
    padding: 6px;

}

a.buttonF:hover { 
    background: rgb(204, 192, 190); 
}

a.buttonF:active {
background: rgb(204, 192, 190);
box-shadow: 0 3px rgb(167, 149, 145) inset;
}

.content {

    color: black;
    text-align: left;
    justify-content: center;
    margin: 5px;
    box-sizing: border-box;
    font-size: 18px;
    text-decoration: none;
    display: block;
    width: 40%;
    padding: 30px 90px 40px 90px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.3);
    position: relative;
    left: 30%;
    top: 70px;
    align-items: center;
}

.content h1 {
    font-size: 14pt;
    font-weight: bold;
}
.formService {
    text-align: left;
}

.fprice input {
    width: 30px;
    margin-bottom: 20px;
}

.about {
    float:left;
    position: relative;
    left: 50px;
    top: 100px;
    width: 700px;
    margin: auto;
}

input.error  {
    border: 2px solid red;
}

.hide {
	display: none;
}

#formErrors {
    color: red;
    font-size: 12px;
}

.content2 {

    color: black;
    text-align: left;
    justify-content: center;
    margin: 5px;
    line-height: 1.5;
    box-sizing: border-box;
    font-size: 18px;
    text-decoration: none;
    display: block;
    width: 30%;
    padding: 30px 40px 40px 90px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.3);
    position: relative;
    left: 35%;
    top: 70px;
    align-items: center;
}

.content2 h1 {
    font-size: 14pt;
    font-weight: bold;
}

.content2 input {
    display: flex;
}

.buttonLogin {
    position: flex;
    text-decoration:none;
    font-size: 12pt;
    border-radius: 3px;
    border-color: black;
    border-width: 2px;
    padding: 0px;
}

.buttonReg {
    position: flex;
    text-decoration:none;
    font-size: 12pt;
    border-radius: 3px;
    border-color: black;
    border-width: 2px;
    padding: 0px;
}

.buttonRecover {
    position: flex;
    text-decoration:none;
    font-size: 12pt;
    border-radius: 3px;
    border-color: black;
    border-width: 2px;
    padding: 0px;
}

#buttonCon, #buttonRec {
    display:inline-block;
}